!!!
%html{:lang => "en"}
  %head
    /
      Any comments on the markup? Please contact me ;)
    %meta{:charset => "UTF-8"}
    %title Rubik's Cubes in Movies
    %link{:href => "./styles/screen.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/favicon.ico", :rel => "icon"}
    / Front-end horror, but there has to be a good guy to save the IE users
    /[if lte IE 8]
      %script{ :src => './scripts/html5.js' }
  %body
    %header
      %h1 Rubik's Cubes in Movies
      %p
        As a devotee of both Rubik's cubes and movies<!-- and HTML5 -->, I like it when a Rubik's cube appears in a feature movie. To keep a bit track of them, I started this list. If you have any suggestions, do not hesitate to
        %a{:href => "mailto:arjan@arjaneising.nl"} email them to me
        or
        %a{:href => "http://twitter.com/eising", :rel => "me"} @ them to me on Twitter



    %aside.spoiler-alert
      %p
        %strong Note: this page contains spoilers. (Duh.)



    / Installing another browser is as easy as solving a Rubik's cube.
    /[if lte IE 8]
      %aside.fuck-ie
        %h2 Important note
        %p This page uses new features for websites to display more advanced types of content. Since you use a non-modern browser you might not see this webpage as intended.
        %p You can upgrade to <a href="http://www.mozilla.com/">Mozilla Firefox</a> or <a href="http://www.google.com/chrome">Google Chrome</a> to view this page correctly. It also increases your security and ease in browsing.



    %nav#toc
      %h2 Table of contents
      / it is not a table, it is a list
      %ol
        %li
          %a{:href => "#armageddon-1998"} Armageddon
        %li
          %a{:href => "#being-john-malkovich-1999"} Being John Malkovich
        %li
          %a{:href => "#donnie-darko-2001"} Donnie Darko
        %li
          %a{:href => "#drive-2011"} Drive
        %li
          %a{:href => "#dude-where-is-my-car-2000"} Dude, Where's My Car?
        %li
          %a{:href => "#duplicity-2009"} Duplicity
        %li
          %a{:href => "#enter-the-void-2009"} Enter the Void
        %li
          %a{:href => "#heavnen-2010", :lang => "da"} Hævnen
          %small Danish, "In a Better World"
        %li
          %a{:href => "#hellboy-2004"} Hellboy
        %li
          %a{:href => "#hitch-2005"} Hitch
        %li
          %a{:href => "#lat-den-ratte-komma-in-2008", :lang => "sw"} Låt den rätte komma in
          %small Swedish, "Let the Right One In"
        %li
          %a{:href => "#let-me-in-2010"} Let Me In
        %li
          %a{:href => "#the-machinist-2004"} The Machinist
        %li
          %a{:href => "#prometheus-2012"} Prometheus
        %li
          %a{:href => "#the-pursuit-of-happyness-2006"} The Pursuit of Happyness
        %li
          %a{:href => "#tron-legacy-2010"} TRON: Legacy
        %li
          %a{:href => "#wall-e-2008"} WALL·E



    %article#armageddon-1998
      %h2 Armageddon
      %p.metadata
        A 1998 disaster/science fiction-action film directed by Michael Bay.
        %a{:href => "http://www.imdb.com/title/tt0120591/", :title => "Armageddon (1998) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Armageddon_%281998_film%29", :title => "Armageddon on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of Rockhound, holding a solved Rubik's cube in his hands.", :src => "images/rubiks-cube-armageddon.jpg"}
          %figcaption
            Rockhound holding a solved Rubik's cube.
            %small Copyright Touchstone Pictures, 1998
      %section.appearance
        %h3 Appearance
        %p
          In an interview, a few main characters are asked to solve a Rubik's cube. Rockhound
          %small (Steve Buscemi)
          solves a Rubik's cube. We only see him solve the final move.
      %section.quotes
        %h3 Quotes
        %blockquote
          %p Piece of cake.
        %cite
          Rockhound
          %small (After solving the Rubik's cube.)



    %article#being-john-malkovich-1999
      %h2 Being John Malkovich
      %p.metadata
        A 1999 American comedy-fantasy film written by Charlie Kaufman and directed by Spike Jonze. It stars John Cusack, Cameron Diaz, Catherine Keener, and John Malkovich, who plays a fictional version of himself.
        %a{:href => "http://www.imdb.com/title/tt0120601/", :title => "Being John Malkovich (1999) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Being_John_Malkovich", :title => "Being John Malkovich on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of Charlie fiddling around with a Rubik's Cube .", :src => "images/rubiks-cube-being-john-malkovich.jpg"}
          %figcaption
            Charlie fiddling around with a Rubik's Cube
            %small Copyright Gramercy Pictures, Propaganda Films and Single Cell Pictures, 1999
      %section.appearance
        %h3 Appearance
        %p
          Charlie
          %small (Charlie Sheen, as himself)
          just fiddles around a bit with a Rubik's Cube for a few seconds.
      %section.comments
        %h3 Comments
        %p A cubers habit is to toy around with Cubes while not solving them. Charlie throws up the Cube while it spins in the air, and then catches it.



    %article#donnie-darko-2001
      %h2 Donnie Darko
      %p.metadata
        A 2001 American psychological thriller film written and directed by Richard Kelly and starring Jake Gyllenhaal.
        %a{:href => "http://www.imdb.com/title/tt0246578/", :title => "Donnie Darko (2001) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Donnie_Darko", :title => "Donnie Darko on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of Donnie Darko, playing with a Rubik's cube while lying in bed.", :src => "images/rubiks-cube-donnie-darko.jpg"}
          %figcaption
            Donnie Darko, playing with a Rubik's cube while lying in bed.
            %small Copyright Flower Films, 2001
      %section.appearance
        %h3 Appearance
        %p
          While Donnie
          %small (Jake Gyllenhaal)
          is lying down in bed, thinking, he is playing with a Rubik's cube.
      %section.comments
        %h3 Comments
        %p The Rubik's cube is a black and white one, quite possibly with M.C. Escher paintings on each side of the cube, instead of the regular white-blue-red-green-orange-yellow ones.



    %article#drive-2011
      %h2 Drive
      %p.metadata
        Drive is a 2011 American action film directed by Danish director Nicolas Winding Refn, starring Ryan Gosling, Carey Mulligan, Bryan Cranston, and Albert Brooks.
        %a{:href => "http://www.imdb.com/title/tt0780504/", :title => "Drive (2011) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Drive_(2011_film)", :title => "Drive on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of Drive, the Rubik's cube is lying on a table.", :src => "images/rubiks-cube-drive.jpg"}
          %figcaption
            Rubik's cube on a table where Irene is standing next to her son.
            %small Bold Films, 2011
      %section.appearance
        %h3 Appearance
        %p The cube is just lying on a table while the protagonists talk.



    %article#dude-where-is-my-car-2000
      %h2 Dude, Where's My Car?
      %p.metadata
        A 2000 comedy film directed by Danny Leiner.
        %a{:href => "http://www.imdb.com/title/tt0242423/", :title => "Dude, Where's My Car? (2000) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Dude_where_is_my_car", :title => "Dude, Where's My Car on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of Chester, who found a Rubik's cube in the pocket of his blue jogging suit. He is looking numb at it in a cloathing sture.", :src => "images/rubiks-cube-dude-where-is-my-car-1.jpg"}
          %figcaption
            Chester just found the cube.
            %small Copyright Alcon Entertainment, 2000
      %section.appearance
        %h3 Appearance
        %p
          Two groups of aliens and a group of space-wannabe-nerds are searching for a
          %em Continuum Transfunctioner
          For some reason they think Jesse
          %small (Ashton Kutcher)
          and Chester
          %small (Seann William Scott)
          have this device that can destroy the planet. The Rubik's cube appears in the movie after a while, and turns out to be the
          %em Continuum Transfunctioner
          at the end of the movie.
      %section.comments
        %h3 Comments
        %ul
          %li On the images you can see that white is next to yellow on their cube. Usually, white is apposite yellow on the cube.
      %section.quotes
        %h3 Quotes
        %blockquote
          %p Cool!
        %cite
          Chester
          %small (After finding the Rubik's cube in his pocket.)
        %blockquote
          %p Dude, you're never gonna figure that thing out.
        %cite
          Jesse
          %small (When Chester is trying to solve the cube.)
      %section.transcript
        %figure
          %img{:alt => "Composition of four screencaps where the Rubik's cube transforms in a Continuum Transfunctioner. On all the four pictures Chester and Jesse look numb at the Rubik's cube. The Rubik's cube itself spins sides and the mini cubes inside it kind-of blow up. The end result is a sphere-shaped bomb with LEDs on it to indicate that it is a bomb.", :src => "images/rubiks-cube-dude-where-is-my-car-2.jpg"}
            %figcaption
              Composition of four screencaps where the Rubik's cube transforms in a Continuum Transfunctioner.
              %small Copyright Alcon Entertainment, 2000
        %h3 Transcript
        %aside
          %p For no reason Chester instantly holds a Rubik's cube when pizzas get delivered at a place where they're stuck with aliens. The cube is almost solved, Chester only has to turn one side.
        %dl
          %dt.p Chester
          %dd Look dude, I almost got it!
          %dt.s Jesse
          %dd Dude, you're really starting to urge me with your Rubik's cube!
        %aside
          %p
            After Chester turned the side, the Rubik's cube transforms into the
            %em Continuum Transfunctioner
            (See also the figure.)



    %article#duplicity-2009
      %h2 Duplicity
      %p.metadata
        A 2009 romantic comedy spy-thriller film directed by Tony Gilroy.
        %a{:href => "http://www.imdb.com/title/tt1135487/", :title => "Duplicity (2009) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Duplicity_(film)", :title => "Duplicity (film) on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of Ray's hand, holding a Rubik's cube keychain.", :src => "images/rubiks-cube-duplicity.jpg"}
          %figcaption
            Ray with the Rubik's cube keychain.
            %small Copyright Laura Bickford Productions
      %section.appearance
        %h3 Appearance
        %p
          The Rubik's cube appears in one scene, where Ray
          %small (Clive Owen)
          holds a Rubik's cube keychain in his hand to allow Claire
          %small (Julia Robberts)
          to recognise him. Later in the scene Claire has a similar cube in her handbag. The keychain is also seen in the trailer.



    %article#enter-the-void-2009
      %h2 Enter the Void
      %p.metadata
        A 2009 psychedelic melodrama written and directed by Gaspar Noé.
        %a{:href => "http://www.imdb.com/title/tt1191111/", :title => "Enter the Void (2009) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Enter_the_Void", :title => "Enter the Void on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "A Rubik's cube laying on a gramaphone record player", :src => "images/rubiks-cube-enter-the-void.jpg"}
          %figcaption
            A Rubik's cube laying on a gramaphone record player.
            %small Copyright Fidélité Films, 2009
      %section.appearance
        %h3 Appearance
        %p
          A Rubik's cube can be seen shortly when protagonist Oscar
          %small (Nathaniel Brown)
          grabs a book. The cube lays on a gramaphone record player. The cube is also seen in the trailer.



    %article#heavnen-2010
      %hgroup
        %h2{:lang => "da"} Hævnen
        %h3 Danish, "In a Better World"
      %p.metadata
        A 2010 Danish drama film directed by Susanne Bier and written by Anders Thomas Jensen.
        %a{:href => "http://www.imdb.com/title/tt1340107/", :title => "Hævnen (2010) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/In_a_Better_World", :title => "In a Better World on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Elias playing with a Rubik's cube in a classroom", :src => "images/rubiks-cube-heavnen.jpg"}
          %figcaption
            Elias playing with a Rubik's cube in a classroom.
            %small Copyright Danmarks Radio, 2010
      %section.appearance
        %h3 Appearance
        %p
          In a classroom we see Elias
          %small (Markus Rygaard)
          playing with a Rubik's cube. It is shown shortly, and we don't know if Elias was able to solve the cube.
    %article#hellboy-2004
      %h2 Hellboy
      %p.metadata
        A 2004 supernatural action-thriller film directed by Guillermo del Toro.
        %a{:href => "http://www.imdb.com/title/tt0167190/", :title => "Hellboy (2004) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Hellboy_(film)", :title => "Hellboy (film) on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Abe Sapien is floating in an aquarium upside down holding a Rubik's Cube only solved for two sides. A girl named Liz Sherman is sitting in front of the aquarium.", :src => "images/rubiks-cube-hellboy.jpg"}
          %figcaption
            Abe Sapien complaining about his inability to solve the Rubik's Cube.
            %small Copyright Revolution Studios, 2004
      %section.appearance
        %h3 Appearance
        %p
          A merman-like creature called Abe Sapien
          %small (Doug Jones)
          is recovering in his aquarium and tries to solve a Rubik's Cube. He talks with Liz Sherman
          %small (Selma Blair)
          and complains about his inability to solve the Rubik's Cube.
      %section.comments
        %h3 Comments
        %ul
          %li Frankly, Abe is not able to solve the Rubik's cube. Earlier in the movie he is introduced as an intelligent creature with psychometric abilities.
          %li
            Abe states that it took him
            %q three decades
            to solve two sides. The movie was released in 2004. If we suppose the movie does not take place in the future, that means he already had the cube in 1974. 1974 was the year the Rubik's cube was invented by Ernő Rubik. However, the Rubik's cube was released six years later in 1980 by Ideal Toys.
          %li
            Almost all scenes in the sequel,
            %cite Hellboy II: The Golden Army
            were shot in Hungary. Hungary is the homeland of the Rubik's cube. Ernő Rubik was born and lived in Budapest, the capital city of Hungary.
            %cite Hellboy
            itself was shot in the Czech Republic.
      %section.quotes
        %h3 Quote
        %blockquote
          %p Listen, I'm not much of a problem solver. Three decades… and I've only completed two sides.
        %cite Abe Sapien



    %article#hitch-2005
      %h2 Hitch
      %p.metadata
        A 2005 romantic comedy film directed by Andy Tennant and starring Will Smith.
        %a{:href => "http://www.imdb.com/title/tt0386588/", :title => "Hitch (2005) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Hitch_(film)", :title => "Hitch (film) on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Eva Mendez holding a portophone while there is a Rubik's cub on her desk.", :src => "images/rubiks-cube-hitch.jpg"}
          %figcaption
            Eva Mendez holding a portophone while there is a Rubik's cub on her desk.
            %small Copyright Columbia Pictures Corporation, 2005
      %section.appearance
        %p
          While Sara Melas
          %small (Eva Mendes)
          is at her work, there is a Rubik's Cube lying on her desk. Multiple shots cover the appearance, from multiple angles.



    %article#lat-den-ratte-komma-in-2008
      %hgroup
        %h2{:lang => "sw"} Låt den rätte komma in
        %h3 Swedish, "Let the Right One In"
      %p.metadata
        A 2008 romantic horror film directed by Tomas Alfredson.
        %a{:href => "http://www.imdb.com/title/tt1139797/", :title => "Låt den rätte komma in (2008) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Let_the_Right_One_In_(film)", :title => "Let the Right One In (film) on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of Eli who is trying to solve the Rubik's cube. The shot is made of only the hands and the Rubik's cube.", :src => "images/rubiks-cube-lat-den-ratte-komma-in.jpg"}
          %figcaption
            Eli is trying to solve the Rubik's cube.
            %small Copyright EFTI, 2008
      %section.appearance
        %h3 Appearance
        %p There are three scenes where the Rubik's Cube appears.
        %ol
          %li
            The first is when a girl named Eli
            %small (Lina Leandersson)
            looks at Oskar
            %small (Kåre Hedebrant)
            trying to solve the cube. She asks about it, and Oskar lends her the cube. In the scene is visible that Oskar is only able to solve one side of the cube.
          %li In a scene without spoken words, Oskar finds the cube on the spot where he met Eli earlier. The cube is solved.
          %li
            In a later scene, Oskar asks Eli how she solved the cube. She states that she
            %q just twisted it
            and starts explaining how she solved the cube, before the scene ends.
      %section.comments
        %h3 Comments
        %ul
          %li The explained method is a corners-first method. This is usually not a method beginners practice.
      %section.transcript
        %h3 Transcript
        %dl
          %dt.s Eli
          %dd What's that?
          %dt.p Oskar
          %dd This? It's a Rubik's Cube.
          %dt.s Eli
          %dd Is it some kind of puzzle?
          %dt.p Oskar
          %dd Yeah… Want to try? You can give it back tomorrow.
          %dt.s Eli
          %dd I might not be here tomorrow.
          %dt.p Oskar
          %dd
            The day after, then. But that's it.
            %small Oskar hands over the cube to Eli.
          %dt.s Eli
          %dd How do you do it?
          %dt.p Oskar
          %dd You want each side to be a solid color. Like this…
        %figure.small
          %img{:alt => "Screencap of Oskar with a solved Rubik's cube in his hand. There is a certain amount of snow on top of the cube, since it is winter.", :src => "images/rubiks-cube-small-lat-den-ratte-komma-in.jpg"}
            %figcaption
              Oskar finds the Rubik's cube.
              %small Copyright EFTI, 2008
        %aside
          %p The scene ends. In a later scene Oskar finds the solved cube. In an even later scene this happens:
        %dl
          %dt.p Oskar
          %dd How did you do it?
          %dt.s Eli
          %dd I just twisted it.
        %aside
          %p (…)
        %dl
          %dt.p Oskar
          %dd Then you don't get any birthday presents, do you?
          %dt.s Eli
          %dd No.
          %dt.p Oskar
          %dd You can have this if you want.
          %dt.s Eli
          %dd It's yours.
          %dt.p Oskar
          %dd I don't get how you did this…
          %dt.s Eli
          %dd Want me to show you?
          %dt.p Oskar
          %dd Here. Go ahead.
          %dt.s Eli
          %dd Start with the corners. Then this part. And you put… Like this… No, like this. Then this…
        %aside
          %p The camera moves away, and the scene ends.



    %article#let-me-in-2010
      %h2 Let me In
      %p.metadata
        A 2010 American horror-romance film directed by Matt Reeves. It is a remake of the Swedish
        %a{:href => "#lat-den-ratte-komma-in-2008", :lang => "sw"} Låt den rätte komma in
        %a{:href => "http://www.imdb.com/title/tt1228987/", :title => "Let Me In (2010) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Let_Me_In_%28film%29", :title => "Let Me In (film) on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Owen holding a Rubik's cube", :src => "images/rubiks-cube-let-me-in.jpg"}
          %figcaption
            Owen holding a Rubik's cube.
            %small Copyright EFTI, 2010
      %section.transcript
        %h3 Transcript
        %dl
          %dt.p Abby
          %dd What is that?
          %dt.s Owen
          %dd …this? It's a Rubik's cube. You don't know Rubik's cube?
          %dt.p Abby
          %dd Is it a puzzle?
          %dt.s Owen
          %dd Yeah… Wanna try? You can give it back tomorrow.
          %dt.p Abby
          %dd …how do you do it?
          %dt.s Owen
          %dd You gotta make each side all one color. Like that.
        %aside
          %p In a later scene, we see Owen find a solved Rubik's cube.
        %dl
          %dt.s Owen
          %dd How did you do it?
          %dt.p Abby
          %dd I just… twisted it.
        %aside
          %p Later this scene, it becomes clear that Abby doesn't know when her birthday is, and Owen gives Abby the Rubik's cube as a present.
        %dl
          %dt.s Owen
          %dd Well, you can have this if you want.
          %dt.p Abby
          %dd That's okay. It's yours.
          %dt.s Owen
          %dd I really don't get how you did this…
          %dt.p Abby
          %dd …want me to show you?
          %dt.s Owen
          %dd Yeah!



    %article#the-machinist-2004
      %h2 The Machinist
      %p.metadata
        The Machinist is an English-language Spanish-made psychological thriller film directed  by Brad Anderson and written by Scott Kosar.
        %a{:href => "http://www.imdb.com/title/tt0361862/", :title => "The Machinist (2004) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/The_Machinist", :title => "The Machinist on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of a Rubik's cube in a drawer", :src => "images/rubiks-cube-the-machinist.jpg"}
          %figcaption
            Trevor looking for something in a drawer.
            %small Copyright Filmax Group, 2004
      %section.appearance
        %p
          When Trevor
          %small (Christian Bale)
          is looking for something in a drawer, a Rubik's cube can be seen.



    %article#prometheus-2012
      %h2 Prometheus
      %p.metadata
        A 2012 science fiction film directed by Ridley Scott, and written by Jon Spaihts and Damon Lindelof. The film stars Noomi Rapace, Michael Fassbender, Guy Pearce, Idris Elba, Logan Marshall-Green, and Charlize Theron.
        %a{:href => "http://www.imdb.com/title/tt1446714/", :title => "Prometheus (2012) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Prometheus_(film)", :title => "Prometheus on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of a Rubik's Cube like visualizer used in Prometheus", :src => "images/rubiks-cube-prometheus.jpg"}
          %figcaption
            Rubik's Cube like visualizer.
            %small Copyright Scott Free Productions, Brandywine Productions and Dune Entertainment, 2012
      %section.appearance
        %h3 Appearance
        %figure.wide
          %img{:alt => "Screencap of Charlie sitting and playing with a cube", :src => "images/rubiks-cube-small-prometheus-1.jpg"}
          %img{:alt => "Screencap of Charlie showing the cube", :src => "images/rubiks-cube-small-prometheus-2.jpg"}
          %figcaption
            Charlie sitting and playing with a cube
            %small Copyright Scott Free Productions, Brandywine Productions and Dune Entertainment, 2012
        %p
          The cube used in Prometheus is not an actual Rubik's Cube. It looks very much like it though, as it has a shiny 3x3x3 grid. In the movie Charlie Holloway
          %small (Logan Marshall-Green)
          nervously plays with the cube, and finally activates it by touching several components of the cube, as shown in the large image above. The cube then visualizes some data collected by Charlie and his team on earth.



    %article#the-pursuit-of-happyness-2006
      %h2 The Pursuit of Happyness
      %p.metadata
        A 2006 American biographical film directed by Gabriele Muccino about the on and off-homeless salesman-turned-stockbroker Chris Gardner.
        %a{:href => "http://www.imdb.com/title/tt0454921/", :title => "The Pursuit of Happyness (2006) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/The_Pursuit_of_Happyness", :title => "The Pursuit of Happyness on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Screencap of Chris who tells Mr. Twistle how he thinks the cube works. The angle is set so, that Chris is at the back and Mr. Twistle is in front.", :src => "images/rubiks-cube-the-pursuit-of-happyness.jpg"}
          %figcaption
            Chris explains to Mr. Twistle how he thinks the cube works.
            %small Copyright Columbia Pictures Corporation, 2008
      %section.appearance
        %h3 Appearance
        %p
          Chris Gardner
          %small (Will Smith)
          is trying to get a internship to become a stockbroker at
          %em Dean Witter Reynolds
          A scene where Chris solves a Rubik's cube plays a key role in Chris' attempts to get real contact with Mr Twistle
          %small (Brian Howe)
          Important to note is that this movie takes place in the year 1981. The Rubik's cube appears in the following scenes:
        %ol
          %li
            Chris finds a Rubik's cube in the kitchen while having supper with his wife Linda
            %small (Thandie Newton)
            and son Christopher
            %small (Jaden Smith)
            He asks what is is, and what to do with it.
          %li Later that evening Chris is not able to sleep. He gets out of bed, and on his couch he is trying to solve the Rubik's cube. He is able to make a white cross, then solve the first layer of the cube, and shortly later the second layer.
          %li
            A few scenes later Chris and his son watch a program on the television about the Rubik's cube. The news reporter
            %small (James Finnerty)
            states that he is not able to solve much of it. Also, he says that a professor in Mathematics was able to solve the cube in 30 minutes.
          %li
            During a taxi ride with Mr Twistle, Chris says that he is able to solve a cube after Mr Twistle states that is is
            %q impossible
            Chris solves the whole cube being very lucky, but Mr Twistle does not see that. This opens Mr Twistle's eyes, and Chris is later invited for an interview.
      %section.comments
        %figure.small
          %img{:alt => "Screencap of the news reporter holding a Rubik's cube while presenting his report. In the shot is also an antique television set visible.", :src => "images/rubiks-cube-small-the-pursuit-of-happyness-3.jpg"}
            %figcaption
              The news reporter, Jim Finnerty
              %small Copyright Columbia Pictures Corporation, 2008
        %h3 Comments
        %ul
          %li The Rubik's cubes in the movie have a Rubik's logo on the white center piece. However, in 1981 those stickers were not yet sticked onto Rubik's cubes.
          %li
            The cube was solved using the Tyson Mao's beginner method. The method was not yet invented in 1981. In fact, Tyson Mao was born in 1984. The method is very similar to the Fridrich method. This is a method developed by Jessica Fridrich, she started developing this technique after she
            %q
              met the cube
              %q face-toface
              Rubik's cube (…) in March 1981
            %a#ref01.reference{:href => "#fn01"} [1]
          %li
            The news reporter didn't do a real good job if he was real. The
            %cite Guinness Book of World Records
            organized the first world championship on March 13, 1981. The record was set at 38 seconds by Jury Froeschl. This is contrary to the 30 minutes the reporter says the Math professor took it to solve.
          %li It is not known to me, if the real Chris Gardner solved a Rubik's cube in order to impress someone else. And if he solved it, how did he solved it?
      %section.transcript
        %figure.small
          %img{:alt => "Screencap of Chris holding a Rubik's cube while his wife Linda is doing the dishes.", :src => "images/rubiks-cube-small-the-pursuit-of-happyness-1.jpg"}
            %figcaption
              Chris meeting the cube for the first time.
              %small Copyright Columbia Pictures Corporation, 2008
        %h3 Transcript
        %aside
          %p Chris picks up a Rubik's cube.
        %dl
          %dt.p Chris
          %dd What that?
          %dt.s Linda
          %dd Eh?
          %dt.p Chris
          %dd What is this?
          %dt.s Linda
          %dd That's a gift for Christopher.
          %dt.p Chris
          %dd From who?
          %dt.s Linda
          %dd
            Sent here from work. It's for Dulls, Chris can't us it and she didn't know.
            %small (Note: she speaks too fast, I guess she says this ;)
          %dt.p Chris
          %dd What are you supposed to do with it?
          %dt.s Linda
          %dd Make every side in the same color.
        %figure.small
          %img{:alt => "Screencap of Chris trying to solve the Rubik's cube, while sitting on the couch. The shot is made van up-front.", :src => "images/rubiks-cube-small-the-pursuit-of-happyness-2.jpg"}
            %figcaption
              Chris trying to solve the cube.
              %small Copyright Columbia Pictures Corporation, 2008
        %aside
          %p The scene continues with another subject, while Chris is taking a look at the Rubik's cube. Later that evening he solves the first two layers.
          %p In a later scene, a TV is shown where Jim Finnerty presents the Rubik's cube.
        %dl
          %dt Jim Finnerty
          %dd It's a puzzle measuring just three inches by three inches on each side, made up of multiple colors that you twist and turn and try to get to a solid color on each side. This little cube is the gift sensation of 1981. Don't expect to solve it easily, although we did encounter a Math professor at CSF who took just 30 minutes on his'. This is as far as I've gotten on mine and as you can see I still have a long way to go. This is Jim Finnerty reporting from KJSF in Richmond.
        %aside
          %p In this scene Chris has to convince Mr. Twistle that he is capable for a job as stockbroker.
        %dl
          %dt.p Chris
          %dd
            So, when I was in the Navy I worked for a doctor who loved to play golf, hours every day. I would actually perform medical procedures when he'd leave me in the office. So, I'm used to be in a position where I have to make decisions and eh…
            %small Mr. Twistle is too focussed on the Rubik's cube
            Mr. Twistle, listen, this is very important.
          %dt.t Mr. Twistle
          %dd I'm sorry I'm sorry. This seems impossible.
          %dt.p Chris
          %dd I can do it.
          %dt.t Mr. Twistle
          %dd No you can't, no one can. Bullshit.
          %dt.p Chris
          %dd No, I'm pretty sure I can do it.
          %dt.t Mr. Twistle
          %dd No you can't.
          %dt.p Chris
          %dd
            Let me see it. Give it here.
            %small Mr. Tistle hands over the cube.
            Oh! Oh! You really messed it up. Heh.
          %dt.t Mr. Twistle
          %dd Sorry.
          %dt.p Chris
          %dd
            It looks like it works around a swipple.
            %small The camera moves away to the cabdriver who listens intensely. He holds an unsolved cube in his hands. Chris does not stop speaking:
            The center pieces never move. So if it's yellow in the center, it is the yellow side. If it's red it's the center of the red side.
            %small To the cabriver:
            You can slow down.
          %dt.t Mr. Twistle
          %dd Listen, we can drive around all day. I don't believe you can do this.
          %dt.p Chris
          %dd Yeah I can.
          %dt.t Mr. Twistle
          %dd No you can't.
          %dt.p Chris
          %dd
            Yeah I can. Nobody can.
            %small Chris solves the white cross.
            See, that's all I could do.
            %small Chris almost solves the first layer.
            You almost have the center! Ah, you almost had that one. Look at that!
            %small Chris solves the first two layers, and Mr. Twistle is amazed. The cab stops and Mr. Twistle and the cabdriver look at Chris.
            You're almost there.
            %small Chris solves the cube.
          %dt Cabdriver
          %dd $17.10
          %dt.t Mr. Twistle
          %dd
            This is me.
            %small Nods.
            Good job. Goodbye.
          %dt.p Chris
          %dd See you soon!
          %dt Cabdriver
          %dd Where are you going sir? Excuse me sir, where are you going?



    %article#tron-legacy-2010
      %h2 TRON: Legacy
      %p.metadata
        A 2010 American science fiction film released by Walt Disney Pictures. It's a sequel to TRON <small>(1982)</small>, directed by Joseph Kosinski and stars  Jeff Bridges, Garrett Hedlund and Olivia Wilde.
        %a{:href => "http://www.imdb.com/title/tt1104001/", :title => "TRON: Legacy (2010) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/Tron:_Legacy", :title => "TRON: Legacy on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Toys, including a Rubik's Cube and two disc wars figures, placed in a closet.", :src => "images/rubiks-cube-tron-legacy.jpg"}
          %figcaption
            Toys, including a Rubik's Cube and two disc wars figures, placed in a closet.
            %small Copyright Walt Disney Pictures, 2010
      %section.appearance
        %h3 Appearance
        %p During the tukking in of the youngh Sam Flynn <small>(Owen Best)</small> by his father <small>(Jeff Bridges)</small>, the camera captures various parts of the bedroom. In the closet, a Rubik's Cube is placed among other toys.



    %article#wall-e-2008
      %h2 WALL·E
      %p.metadata
        A 2008 computer-animated-science fiction-romance film directed by Andrew Stanton and produced by Pixar Animation Studios.
        %a{:href => "http://www.imdb.com/title/tt0910970/", :title => "WALL·E (2008) on IMDb"} IMDb
        %a{:href => "http://en.wikipedia.org/wiki/WALL-E", :title => "WALL-E on Wikipedia"} Wikipedia
      %figure
        %img{:alt => "Robot WALL·E has eyes like a binocular. He looks interested with them at a Rubik's cube.", :src => "images/rubiks-cube-wall-e-1.jpg"}
          %figcaption
            WALL·E inspecting a Rubik's cube.
            %small Copyright Pixar Animation Studios, 2008
      %section.appearance
        %h3 Appearance
        %figure.small
          %img{:alt => "A white robot called EVE shows the solved Rubik's cube to WALL·E. WALL·E looks again very interested at the cube.", :src => "images/rubiks-cube-small-wall-e.jpg"}
            %figcaption
              EVE has solved the Rubik's cube.
              %small Copyright Pixar Animation Studios, 2008
        %p
          There are various appearances of the Rubik's cube in
          %cite WALL·E
        %ol
          %li In the future WALL·E systems are left on earth to clean up the then very dirty earth. Over time, lots of WALL·E systems died, except one. He (in the movie just called WALL·E) has developed a strong personality, including a habit of collecting interesting pieces of garbage. In the movie we see WALL·E unpacking a Rubik's cube he collected on duty. He takes a look at it, and then puts it in some sort of locker.
          %li Later on, when a robot called EVE has arrived on earth, WALL·E takes her to his 'house' and shows the (unsolved) Rubik's cube. The camera moves away following WALL·E and returns only a few seconds later. EVE has a solved the Rubik's cube. It is not shown how she solved the Rubik's cube.
          %li At the end of the movie WALL·E does not recognize EVE any more after an accident. EVE tries various ways to bring back his memory, without immediate success. One of the things she tries is showing him the Rubik's cube.
          %li The end credits feature a pixel-art animation showing WALL·E trying to solve a Rubik's cube. EVE flies by and in a flash the Rubik's cube solves itself (see also the figure).
        %figure
          %img{:alt => "There are three screenshots. The first one shows WALL·E with an unsolved Rubik's cibe. In the second EVE flies by and there is a ", :src => "images/rubiks-cube-wall-e-2.jpg"}
            %figcaption
              Three screenshots of the animation in the end-credits.
              %small Copyright Pixar Animation Studios, 2008
      %section.comments
        %h3 Comments
        %ul
          %li
            %a{:href => "http://www.flickr.com/photos/forthisiwenttocollege/3048016235/", :title => "Wall·E rubik's cube"} This image
            shows a WALL·E Rubik's cube. I don't know if it's fake or not.
          %li
            The Rubik's cube WALL·E holds was
            %a{:href => "http://archive.garron.us/solves/2008/WALL-E.htm", :title => "WALL·E's Cube"} reconstructed by Lucas Garron
            He states that it is
            %q probably unsolvable



    %section#references
      %h2 References
      %p
        If I do not cite my sources, I have the information from either
        %a{:href => "http://imdb.com"} IMDb
        or
        %a{:href => "http://wikipedia.org"} Wikipedia
      %ol
        %li
          %a#fn01{:href => "#ref01"} [1]
          %a{:href => "http://www.ws.binghamton.edu/fridrich/history.html"} 20 years of speedcubing
          by
          %cite Jessica Fridrich



    %section#thanks
      %h2 Thanks
      %p
        Thanks go to the following people for giving useful comments and additions to this page (in alphabetical order): <a href="http://janpaulposma.nl">Jan Paul Posma</a>, <a href="http://kilianvalkhof.com">Kilian Valkhof</a>, Lars and <a href="http://twitter.com/soyuzw/status/2670945357">soyuzw</a>



    %section#copyright
      %h2 Copyright
      %p
        The
        %strong images
        %strong dialogues
        and
        %strong quotes
        on this web page are used under fair use policy. I used the content to imply how a Rubik's cube appears in a movie, since this specific content adds a lot of value to this document as a whole. If you think something on this webpage is used wrongfully, please contact me at
        %a{:href => "mailto:arjan@arjaneising.nl"} arjan@arjaneising.nl
      %p
        All other parts of this document are copyright ©
        %a{:href => "http://arjaneising.nl"} Arjan Eising
        2011–2012.