/* http://www.colourlovers.com/palette/663167/Conspicuous_Creep */
* {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 60em) {
  html {
    border: 4em solid #eeeeee;
    border-width: 0 6vw;
  }
}

body {
  background-color: white;
  color: #2b2825;
  font: 1em/1.5 Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 60em;
  padding: 2em;
}

p,
dt,
dd,
li,
legend,
figcaption {
  font-size: 1.4em;
}

header,
hgroup,
nav,
section,
footer,
aside,
figure {
  display: block;
}

a {
  color: #d6156c;
}
a:visited {
  color: #731c43;
}
a:focus,
a:hover {
  color: #2b2825;
}
a:active {
  color: #0b8c8f;
}

p,
li {
  margin-bottom: 1.2em;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}

header {
  padding: 3em 0 1em;
}
header h1 {
  color: #d6156c;
  font-size: 3.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
header p {
  font-size: 1.6em;
}

.spoiler-alert {
  color: #b90000;
  font-size: 1.4em;
  margin-top: 2em;
  text-align: center;
}

nav h2,
article h2,
section h2 {
  background: #0b8c8f;
  border-bottom: 2px solid #cacf43;
  color: white;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1em;
  margin: 2.5em -0.5em 1em;
  padding: 0.5em 0.5em 0.4em;
  text-transform: uppercase;
}

article hgroup {
  background: #0b8c8f;
  border-bottom: 2px solid #cacf43;
  color: white;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1em;
  margin: 2.5em -0.5em 1em;
  padding: 0.5em 0.5em 0.4em;
  text-transform: uppercase;
}
article hgroup h2 {
  border-bottom: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
article hgroup h3 {
  color: white;
  font-size: 0.5em;
  font-style: italic;
  margin: 0;
  padding: 0;
}

h3 {
  color: #abaf3d;
  font-size: 1.75em;
  text-transform: uppercase;
  margin: 1.75em 0 0.25em;
}

li {
  list-style-type: square;
  margin-bottom: 1.2em;
}

#toc li {
  font-size: 1.6em;
  list-style-type: square;
  margin-bottom: 0;
  padding: 0.25em;
}
#toc small {
  font-size: 0.8em;
  font-style: italic;
  padding-left: 0.5em;
}

figure {
  margin: 1em 0 2em;
}
figure img {
  width: 100%;
}
figure figcaption {
  text-align: right;
}
figure figcaption small {
  color: #787674;
  display: block;
  font-size: 0.8em;
  font-style: italic;
}
figure.small {
  border-left: 2px solid #dddddd;
  float: right;
  margin: 0 0 1em 1em;
  padding: 0.5em 0 0.5em 1em;
  max-width: 35%;
}
figure.wide {
  border: none;
  clear: both;
  float: none;
  margin: 0 0 2em 0;
  width: 100%;
}
figure.wide img {
  float: left;
  margin: 0 1em 1em 0;
  width: auto;
}
figure.wide figcaption {
  clear: both;
  width: 100%;
}

.metadata {
  font-weight: bold;
}

.quotes {
  overflow: hidden;
  width: 100%;
}
.quotes blockquote {
  border-left: 2px solid #dddddd;
  font-size: 1.2em;
  padding: 0.5em 0 0.5em 1em;
}
.quotes cite {
  display: block;
  font-size: 1.4em;
  margin-bottom: 2em;
  text-align: right;
}

.transcript dt {
  font-weight: bold;
}
.transcript .p {
  color: #0b8c8f;
}
.transcript .s {
  color: #d6156c;
}
.transcript .t {
  color: #abaf3d;
}
.transcript dd {
  margin-left: 1em;
}
.transcript aside {
  border-left: 2px solid #dddddd;
  font-style: italic;
  margin: 1.2em 0;
  padding: 0.5em 0 0.5em 1em;
}
.transcript small {
  font-size: 1em;
  font-style: italic;
}

#copyright {
  padding-bottom: 6em;
}
